.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #747bff;
}
